<header></header>
<div>
    <h2>主页图片</h2>
    <p> &nbsp;(提醒：图片宽高比5：3)</p>
    <div class="">
       <table class="table">
            <thead>
            <tr>
                <th>图片</th>
                
                <th>链接到文章</th>
                
				<th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in entities">
                <td><img src="{{entity.link}}" width="200" height="120"></td>                
                <td>
                    <select ng-model="entity.news_id" ng-options="news.id as news.title for news in newses"
                     ng-change="update_news(entity)">
                    </select>
                </td>

                <td>
                    <button class="btn" ng-file-select="" ng-model="picFile" name="file" accept="image/*" ng-file-change="generateThumb(entity.id,$files, $event)" required=""ng-multiple="true" >
                        <span class="glyphicon glyphicon-pencil"></span> 更换图片
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
