<div>
    <h2>主页图片</h2>
    <div class="table-responsive">
       <table class="table table-striped">
            <thead>
            <tr>
                <th>图片</th>
                
                <th>链接到文章</th>
                
				<th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="image/test.jpg" width="200" height="120"></td>
                
                <td>1</td>

                <td>
                    <button type="submit"
                            ng-click="update(conference.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> 修改
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
