<header></header>
<div>

    <h2>消息推送</h2>

    <script type = "text/ng-template" id="pushs-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myPushsLabel">创建一个消息推送</h4>
            </div>
            <div class="modal-body">


                
                <div class="form-group">
                    <label>内容:</label>
                    
                    <textarea type="text" class="form-control" name="content"
                           ng-model="pushs.content" ng-required="true"
                           />
                    <span class="error" ng-show="form.content.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.content.$error.maxlength">Must be at most  characters.</span>
                </div>
                
              

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <button class="btn btn-primary btn-lg" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span> 创建一个消息推送
    </button>
                    <!-- <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                           ng-model="pushs.id" readonly>
                </div> -->

    <div class="table-responsive" style="margin-top:20px;">
        <table class="table table-striped" datatable="ng" dt-options="dtOptions"  dt-column-defs="dtColumnDefs">
            <thead>
            <tr>
                <th>编号</th>
                
                <th>内容</th>
                
                <th>推送时间</th>
                
                <th>是否成功</th>
                
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pushs in push_array">
                <td>{{pushs.id}}</td>
                
                <td>{{pushs.content }}</td>
                
                <td>{{pushs.created_time  | date:'yyyy-MM-dd'}}</td>
                
                <td>{{pushs.success }}</td>
                
                 <td>
                    <!-- <button type="submit"
                            ng-click="update(pushs.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button> -->
                    <button type="submit"
                            ng-click="delete(pushs.id)"
                            class="btn btn-danger" ng-confirm-click="你确定要删除么?">
                        <span class="glyphicon glyphicon-remove-circle" ></span> 删除
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
